/* CSS designed by Nick Artymiak
supports IE8



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear {
	clear: both;
}

.submit:hover {
	cursor: pointer;
}
/* ---------------------- end reset */

img {
	max-width: 100%;
}

.container {
	max-width: 1024px;
	width:85%;
	margin:0 auto;
}

a {
	text-decoration: none;
}

/* ~~~~~~~~~ fonts ~~~~~~~~~~~ */
body {
	color:#473d36;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	-webkit-text-stroke: 0.5px;
}

nav a {
	color:#ffffff;
}

a:hover {
	color:#221d19;
}

.content .attributes > div, .content form label p {
	font-weight: 700;
}

/* ~~~~~~~ every thing else ~~~~~~ */

header, nav {
	line-height: 50px;
	height:50px;
}

nav {
	background-color: rgba(25, 23, 41, .1);
}

nav a {
	display: inline-block;
	padding:0 20px;
	background-color: rgba(25, 23, 41, .3);
}

.sidebar {
	padding:0 01.171875%;
	width: 16.796875%;
	float:left;
	background-color:  rgba(25, 23, 41, .1);
}

.sidebar a {
	line-height: 50px;
	display:block;
}

.content { /* width: 724 px */
	line-height: 50px;
	float:left;
	background-color:  rgba(25, 23, 41, .05);
	width: 70.703125%;
	padding:0 01.171875% 0 08.984375%;

}

.content .element {
	display: block;
}

.content .element:hover {
	cursor: pointer;
	background-color:  rgba(25, 23, 41, .05);
}

.content .element .type, .content .element .title, .content .element .date {
	float:left;

}

.content .element .type {
	width:23.756906077%;
	margin: 0 01.657458563% 0 0;
}

.content .element .title {
	width:61.878453038%;
	margin: 0 01.657458563% 0 0;
}

.content .element .date {
	width:11.049723756%;
}

.content form label input {
	font: inherit;
	line-height:1.5em;
	width:61.878453038%;
	margin:0 0 10px 0;

}

.content form label input:focus {
	outline:0;
}

.content form label input.submit {
	width:23.756906077%;
	line-height: 50px;
	box-sizing:none;
	border:none;
	margin: 0 auto;
}

.content form label {
	display: block;
}

.content form .schedule .dateTime label input{
	width:100%;
}

.content form .schedule .dateTime {
	display: block;
}

.content form .schedule .dateTime label {
	display: inline-block;
	width:23.756906077%;
}

.content form .schedule .add {
	border-bottom:1px solid rgba( 0, 0, 0, .5);
	border-top:1px solid rgba( 0, 0, 0, .5);
	padding: 4px 0;
	margin: 4px 0;
}

.content form .schedule .add label {
	margin:1px 1.4px 0px 1.4px;
}

.content form .schedule .dateTime label.date{
	width:23.756906077%;
}

.content form .schedule .dateTime label.time{
	width:15%;
}

.content form .schedule .dateTime label.delete {
	width:15%;
	text-align: center;
}

.content form .schedule .dateTime input[type = 'checkbox']{
	display:none;
}

.content form .schedule .dateTime input[type = 'checkbox']:checked + label .fa-times{
	color:rgba(239, 32, 32, 1);
}

.content form .schedule .dateTime label .fa-times {
	color:rgba(239, 32, 32, .2);
}

.content form .schedule .dateTime label .fa-times:hover {
	color:rgba(239, 32, 32, 1);
	cursor: pointer;
}

.content form .schedule .dateTime .fa-plus {
	color:rgba(45, 244, 120, 1);
}

.content .button {
	line-height: 50px;
}

.content a {
	cursor:pointer;

}


/** 
12 gutters, 11 columns
max width: 1024px
1 gutter: 12px
1 column: 80px
(( * 12) + ( * 80)) / 1024

