/* CSS designed by Nick Artymiak
supports IE8



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.rightColumn td{
	vertical-align: middle;
}

.rightColumn td img{
	max-width: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear {
	clear: both;
}

.submit:hover {
	cursor: pointer;
}
/* ---------------------- end reset */

img {
	max-width: 100%;
}

/* fonts */
@font-face {
	font-family: eaves;
	src: url(../fonts/MrsEavRom.ttf);
}

/* ~~~ typography ~~~*/

body {
	letter-spacing: .6px;
}


body, #calendar .rightColumn a,  #calendar .leftColumn a, #lobby .rightColumn a,  #lobby .leftColumn a, #exhibition .rightColumn a, #classroom .rightColumn .calendarEventsWrapper a{
	color: rgba(71, 61, 54, 1);
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

i {
	font-style: italic;
}

h1 {
	color:#f2f2f2;
	font-family: eaves;
	font-size: 24px;
	text-shadow: 0px 0px 5px rgba(0,0,0, 1);
}

#calendar h2, #lobby h2 {
	font-size: 18px;
}

h2, #calendar .rightColumn h3, #calendar .leftColumn h3, #lobby .rightColumn h3, #lobby .leftColumn h3 {
	font-size:24px;
	line-height: 1.4em;
}

header a {
	color:#373535;
	font-size: 14px;
}

#mainNav .navCategoryLinks a{
	text-transform: uppercase;
	line-height: 1.5em;
}

nav .exhibitionLink h6 {
	line-height: 1.3em;
}

.dropDown a, .dropDown {
	color:#ffffff;
}

.rightColumn h2, .leftColumn h2 {
	color: rgba(71, 61, 54, 1);
	line-height: 1.3em;
}

 #calendar .rightColumn h4, #calendar .leftColumn h4, #lobby .rightColumn h4, #lobby .leftColumn h4 {
 	font-weight: 400;
 	line-height: 1.3em;
 }

p, li, address {
	line-height: 1.7em;
}

.rightColumn p.tombstone, nav .exhibitionLink .dropDown .left .title {
	font-size: 10px;
}

.subNav a, footer a{
	color: rgba(71, 61, 54, 1);
	text-decoration: none;
}

footer {
	font-size: 80%;
	line-height: 1.7;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
	font-weight: inherit;
}

.rightColumn h3, .rightColumn h4 {
	font-weight: 700;
	line-height: 2em;
}

.rightColumn ol, .rightColumn ul {
	list-style: disc inside;
}

#lobby .rightColumn h2 {
	text-transform: uppercase;
}

.fa-facebook, .fa-facebook-official {
    color: #3b5998;
}
.fa-twitter, .fa-twitter-square {
    color: #00aced;
}
.fa-google-plus, .fa-google-plus-square {
    color: #dd4b39;
}
.fa-youtube, .fa-youtube-play, .fa-youtube-square {
    color: #bb0000;
}
.fa-tumblr, .fa-tumblr-square {
    color: #32506d;
}
.fa-vine {
    color: #00bf8f;
}
.fa-flickr {
    color: #ff0084;
}
.fa-vimeo-square {
    color: #aad450;
}
.fa-pinterest, .fa-pinterest-square {
    color: #cb2027;
}
.fa-linkedin, .fa-linkedin-square {
    color: #007bb6;
}
.fa-instagram {
    color: #517fa4;
}

/* ~~~~~~~~~~~~ */

body {
	width:100%;
	position:relative;
}

#grid {
	position: absolute;
	width:100%;
	height:2000px;
	display:none;
	z-index: 9999;
	background: url(../images/11-col-grid.png) center center;
	background-repeat: no-repeat;
	pointer-events: none;
}


.wrapper {
	width:85%;
	max-width: 1002px; /* 11 columns (858px), 12 margins (144px) = 1002px ||  column = 78px, margin = 12px */ 
	margin:0 auto;
	position: relative;
}

/* ~~~~~~ header ~~~~~~ */

#mainNav {
	margin:0 0 0 28.143712574%;
}

#mainNav, nav .menuItem { /* these have to be the same height */
	height:71px;
}

h1{
	margin:20px 0 0 28.143712574%;
}

header .logo {
	width:240px;
	margin:0 1.19760479% 0 0;
	position: absolute;
	z-index: 10;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	-webkit-print-color-adjust: exact;
}

header  a {
	text-decoration: none;
}

header nav > a, .menuItem > a {
	line-height: 71px;
	padding: 0 20px;
    height: 71px;
    display: inline-block;
}

#mainNav .menuItem:first-child {
	margin:0 0 0 -20px;
}

nav .dropDown {
	display: none;
	position: absolute;
	background-color: rgba(25, 27, 31, 1); /* old #473d37 */
	z-index:9;
	width:100%;
	left:0;
	top:0;
	margin:64px 0 0 0;
	padding:20px 0 20px 0;
}

nav .arrowUp {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;	
	border-bottom: 20px solid rgba(25, 27, 31, 1);
	position:absolute;
	top:50px;
	z-index:9;
}

nav .dropDown .logoSpace, nav .dropDown .left, nav .dropDown .middle, nav .dropDown .right {
	float:left;
}

#mainNav .navCategory {
	color: rgba(245, 245, 245, .5);
	text-transform: uppercase;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	height:42px;
	line-height: 42px;
	margin: 0 0 16px 0;
}

nav .navCategory i{
	margin:0 5px 0 0;
	font-size: 17px;
}

nav .navCategoryLinks a{
	display: block;
	margin: 0 0 12px 0;
}

nav .dropDown .logoSpace {
	width:25.748502994%;
	margin:0 0 0 01.19760479%;	
	height:10px;
}

nav .visitLink .dropDown .left, nav .visitLink .dropDown .middle, nav .visitLink .dropDown .right, 
	.educationLink .dropDown .left, nav .educationLink .dropDown .middle, nav .educationLink .dropDown .right,
	.supportLink .dropDown .left, nav .supportLink .dropDown .middle, nav .supportLink .dropDown .right{
	width:16.766467065%;
	margin:0 0 0 01.19760479%;	
}

nav .exhibitionLink .dropDown .left {
	width:43.71257485%;
	margin:0 0 0 01.19760479%;
	overflow-x:visible; 
}

nav .exhibitionLink .dropDown .left .image{
	width:58.904109589%;
	height: 200px;
	overflow: hidden;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
	float:left;
}

nav .exhibitionLink .dropDown .left img {
	margin: 100px 0 0 0;
	top:-200px;
	position: relative;
}

nav .exhibitionLink .dropDown .left .exhibitionCaption{
	width:37%;
	margin: 4px 0 0 0%;
	float:left;
	overflow-x:visible; 
}

nav .exhibitionLink .dropDown .left .exhibitionCaption .inner{
	
	padding:16px 0 10px 16px;
	width:215%;
	background-color: rgba(0, 0, 0, .25);
}

nav .exhibitionLink .dropDown .left .navCategoryLinks {
	margin: 0 0 0 2.739726027%;
	width:37%;
	float:left;
}

nav .exhibitionLink .dropDown .right {
	width:16.766467065%;
	margin:0 0 0 01.19760479%;
}

nav .calendarLink .dropDown .middle {
	width:34.730538922%;
	margin:0 01.19760479%;	
}

nav .calendarLink .dropDown .right {
	width:25.748502994%;
}

nav .menuItem {
	display: inline-block;
}

/* ~~~~~ footer ~~~~~ */
footer {
	position: relative;
	top:365px; /* matches the top definition for the mainSection so it gets pushed down correctly */
	padding:25px 0 20px 0;
	background-color: #f5f5f5;
	border-top:1px solid #e2e2e2;
	z-index: 1000;
}

footer .column {
	width:16.766467065%;
	margin:0 0 0 1.19760479%;
	float:left;
}

footer .columnTwo {
	width:25.748502994%;
	margin:0 1.19760479% 0 0;
	float:left;
}

footer a {
	display:block;
}

footer .right { /* only applies to right column in footer */
	margin-right:10.179640718%;
}

/* ~~~~~ sub nav ~~~~~ */

.subNav {
	width:26.946107784%;
	float:left;
	padding:11px 0 0 0; /* should be 35px 0 0 0 so can line up with right column header... */
	margin:0 0 0 08.982035928%;
}

.subNav h3, .subNav .navCategory {
	border-bottom: 1px solid #b8b8b8;
	padding:30px 0 7px 04.444444444%;
	margin:0 28.888888888% 15px 0;
	width:66.666666666%;
}

.subNav h3.showImg {
	padding-top:0px;
}

.subNav a {
	display:block;
	padding:10px 0 10px 04.444444444%;
	-moz-border-top-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -khtml-border-top-left-radius: 2px;
	-moz-border-top-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -khtml-border-top-right-radius: 2px;
}

.subNav .current {
	background-color: rgba(245, 245, 245, 1);
}

.subNav a:hover {
	background-color: rgba(245, 245, 245, .3);
	cursor: pointer;
}

.shareLinks, .followLinks {
	padding:5px 0 0 04.444444444%;
	display: none;
	overflow: hidden;
}

.shareLinks li, .followLinks li {
	display: inline-block;
}

.shareLinks li{
	padding: 0 0 5px 0;
}

.followLinks li {
	padding: 0 5px 0 0;
}

.subNav .navCategoryLinks a {
	margin: 0;
}

/* ~~~~~ Buttons ~~~~~ */

.purchase-button {
	padding:20px 40px;
	background-color: rgba(0, 0, 0, .1);
	text-align: center;
	width:211px;
	margin:10px auto 0 auto;
	display: block;
}

a.purchase-button{
	color:rgb(0, 0, 0);
	font-weight: 700;
	text-decoration: none;
}

.purchase-button:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, .25);
}

/* ~~~~~ call to action (CTA) ~~~~~ */

.cta {
	position: relative;
	top:365px; /* matches the top definition for the mainSection so it gets pushed down correctly */
	text-align: center;
	padding:44px 0;
}

.cta a {
	display: block;
}


/* ~~~~~ exhibition page and lobby page ~~~~~ */

#background {
	width:100%;
	height:535px;
	background-position: 50% 60%;
	background-size: cover;
	background-repeat: no-repeat;
	position:absolute;
	top:71px;
	left:0;
	-webkit-print-color-adjust: exact;
}

.mainSection {
	position: relative;
	top: 365px;
	background-color: white;
}

#calendar .mainSection {
	padding:10px 0 0 0;
}

#exhibition .rightColumn, #event .rightColumn, #static .rightColumn, #classroom .rightColumn, #lobby .rightColumn {
	width:52.694610778%;
	background-color:#f5f5f5;
	float:left;
	padding: 35px 1.19760479% 0 1.19760479%;
}

#exhibition .rightColumn img, #event .rightColumn img, #static .rightColumn img{
	padding:20px 0 8px 0;
}

.rightColumn h2 {
	padding:0 0 10px 0;
}

.bodyContent p, .dateTimes p, .admissionCharge p, #artists p {
	padding:0 0 10px 0;
}

.bodyContent h3 {
	padding:10px 0 0 0;
}

.rightColumn p.tombstone {
	padding: 0 0 10px 0;
}

.bodyContent ol, .bodyContent ul {
	margin:0 0 10px 0;
}

#exhibition #exhibitionArtworks img {
	width:14.772727272%;
	margin:0 02.272727272% 0 0;
}

#exhibition #artists, #event #artists {
	display: none;
}

#exhibition #exhibitionArtworks {
	display: none;
}

.exhibitionEvent {
	display: none;
}

#exhibition .showImg {
	background-color: rgba(255, 255, 255, 1);
}

#exhibition .calendarElement img {
	padding:0;
}

.dateTimes p .date{
	width:48.863636363%;
	margin: 0 02.272727272% 0 0;
	display: inline-block;
}

/* ~~~~~ index page ~~~~~ */
#index header {
	background-color: #ffffff;
	top:0;
	left:0;
	width:100%;
	z-index: 10000;
	position: relative;
}

#index header #header-content {
	width:85%;
	max-width: 1002px;
	margin:0 auto;
	position: relative;
}

#slider {
	position: fixed;
	width:100%;
	top:0;
	left:0;
}
.slide {
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	height:0;
	background-position: 50% 60%;
	background-size: cover;
	background-repeat: no-repeat;
	opacity:0;
	z-index: 0;
	height:100vh;
}

.info a{
	text-decoration: none;
}

#slider .info {
	width:85%;
	max-width: 1002px;
	margin:0 auto;
	position: relative;
}

#slider .infoContent {
	width:52.694610778%;
	background-color: rgba(0, 0, 0, .5);
	color:white;
	top:71px;
	position: relative;
	padding:12px 01.19760479%;
	margin:20px 08.982035928%;
	float:right;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; /* future proofing */
	-khtml-border-radius: 7px; /* for old Konqueror browsers */
}

#slider .infoContent:hover {
	background-color: rgba(0, 0, 0, .7);
}

#slider .left {
	float:left;
	width:57.386363636%;
	border-right:1px solid rgba(255, 255, 255, .4);
	padding:0 01.136363636% 0 0;
}

#slider p {
	font-size: 12px;
	line-height: 1.5em;
}

#slider h2 {
	padding:0 0 8px 0;
}

#slider .right {
	width:35%;
	float:right;
	padding:0 0 0 01.136363636%;
	text-align: center;
}

#slider .right img {
	width:50%;
	padding:15px;
}

#slider .right .fa {
	font-size: 40px;
	padding:15px;
	color: white;
}

#triggerWindow .old{
	position:absolute;
	top:71px;
	width:85%;
	z-index: 1000;
	margin:0 auto;
}

/* ~~~~~ calendar and lobby page ~~~~~ */

#calendar header {
	position: fixed;
	background-color: #ffffff;
	top:0;
	left:0;
	width:100%;
	z-index: 10000;
	border-bottom: 1px solid rgba(0,0,0,0.35);

}

#calendar header #header-content {
	width:85%;
	max-width: 1002px;
	margin:0 auto;
	position: relative;
}

#calendar h1 {
	margin:0 0 0 28.143712574%;
	position: relative;
	top:91px;
}

#calendar .leftColumn h2 {
	padding:0 0 10px 0;
}

#calendar .leftColumn {
	/* temp place holder width*/
	width:28.143712574%; 
	margin:0 7.784431137% 0 8.982035928%;
	float:left;
}

#calendar .rightColumn {
	width:46.107784431%;
	float: left;
}

.calendarElement {
	width: 94.805194805%;
	padding:12px 02.597402597%;
	margin:0 0 30px 0;
}

.calendarExhibitionElement {
	width: 91.489361702%;
	padding:12px 04.255319148%;
	margin:0 0 30px 0;
}

#calendar .rightColumn .showImg, #lobby .showImg, #classroom .showImg, #exhibition .showImg {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.35);
}

.calendarElement img {
	margin-bottom: 12px;
}

.calendarElement:hover, .calendarExhibitionElement:hover {
	background-color: rgba(245, 245, 245, .4);
}

#calendar .rightColumn .calendarElement .startDate, #calendar .rightColumn .date .startDate, #classroom .rightColumn .startDate, #exhibition .rightColumn .startDate {
	display: none;
}

#calendar a, #lobby a, #classroom a, #exhibition a {
	text-decoration: none;
}

#calendar .rightColumn h2, #calendar .leftColumn h2, #lobby .leftColumn h2, #classroom .leftColumn h2 {
	margin: 12px 0;
}

#calendar .rightColumn h5, #calendar .leftColumn h5, #lobby .rightColumn h5, #lobby .leftColumn h5,  #classroom .rightColumn h5, #classroom .leftColumn h5, #exhibition .rightColumn h5 {
	padding: 12px 0;
	margin: 0 0 12px 0;
	border-bottom: 1px solid rgba(0,0,0,0.35);
}

#calendar .rightColumn .fa, #calendar .leftColumn .fa,  #classroom .rightColumn .fa {
	opacity: 1;
	font-size: .7em;
	margin:0 5px 0 0;
}

#calendar .leftColumn .fa {
	font-size: .7em;
}

#lobby .subNav .fa {
	font-size: .8em;
}

.calendarEventsWrapper {
	background-color: #ffffff;
}

/* ~~~~~~~~~~~~ */

.slider {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow: hidden;
}

.slider img {
	width:100%;
	height:auto;
	max-width: none;
	position:absolute;
	opacity:0;
	z-index: 0;
}

/* ~~~~~~~~~~~~ */

.calendar, .oldCalendar, .newCalendar  {
	width:240px;
	overflow:auto;
	font-size: 16px;
	line-height: 33px;
	margin:0 12px;
	position: relative;
	float:left;

}

.calSquare {
	float:left;
	width:33px;
	height:33px;
	vertical-align: middle;
	text-align: center;
}

.calendar .weekday {
	background-color: rgba(255, 255, 255, .05);
}

.calendar .filled {
	background-color: rgba(255, 255, 255, .0);
}

.calendar .filled:hover {
	background-color: rgba(255, 255, 255, .3);
	cursor:pointer;
}


.calendarWrapper .leftArrow{
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	border-right:15px solid rgba(255, 255, 255, .2);	
}

.calendarWrapper .leftArrow:hover{
	border-right:15px solid rgba(255, 255, 255, .3);	
}

.calendarWrapper .rightArrow{
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	border-left:15px solid rgba(255, 255, 255, .2);
}

.calendarWrapper .rightArrow:hover{
	border-left:15px solid rgba(255, 255, 255, .3);
}


.calendarWrapper .container {
	float:left;
	overflow: hidden;
	display: inline-block;
}

.calendarWrapper .leftArrow, .calendarWrapper .rightArrow {
	margin:118px 0 0 0;
	float:left;
}

.menuItem:hover, .menuItem .leftArrow:hover, .menuItem .rightArrow:hover {
	cursor:pointer;
}

.calendarHeader {
	text-align: center;
}

.calendar h5, .oldCalendar h5 , .newCalendar h5{
	display: inline-block;
	width:200px;
	text-align: center;
}

.calSquare input[type='checkbox'], .keyword input[type='checkbox']  {
	display: none;
}

.threeCalendars {
	position: relative;
}

.keyword {
	width:100%;
	line-height: 33px;
	margin:31px 0 0 0;
}

.keyword label, .keyword input[type='submit'], #selectMonth {
	display:block;
	background-color: rgba(255, 255, 255, .1);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; /* future proofing */
	-khtml-border-radius: 2px; /* for old Konqueror browsers */
	margin:0 12px 12px 0;
	padding:4px;
	float:left;
	width:42%;
	font-size: 14px;
	line-height: 1.2em;
}

#selectMonth {
	float:none;
	margin:0 auto;
	text-align: center;
}

.keyword input[type='submit'] {
	background-color: rgba(255, 255, 255, 1);
	line-height: 33px;
	border:none;
	font:inherit;
	font-weight: 500;
	color: #473d37;
	text-align: center;
	box-sizing:inherit;
}

.keyword input[type='submit']:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, .9);
}

.keyword label:hover, #selectMonth:hover{
	cursor: pointer;
	background-color: rgba(255, 255, 255, .3);
}

/* ~~~~~~~~~~~~ */

.activities {
	padding:27px 0 0 0;
}

.main-column h2 {
	border-bottom: 1px solid #b8b4b1;
	margin:0 0 15px 0;
	padding:0 2.777777777% 12 2.777777777%;
	box-sizing: border-box;
}

.article {
	margin:0 0 30px 0;
	padding:0 2.777777777% 0 2.777777777%;
	box-sizing: border-box;
}

.article:hover {
	cursor:pointer;
}

.major {
	background:white;
	width:100%;
	padding:12px 2.777777777% 12px 2.777777777%;
	-moz-box-shadow: 0px 0px 8px rgba(68,68,68,0.6);
	-webkit-box-shadow: 0px 0px 8px rgba(68,68,68,0.6);
	box-shadow: 0px 0px 8px rgba(68,68,68,0.6);

}

.major:hover {
	-moz-box-shadow: 0px 0px 12px rgba(68,68,68,0.6);
	-webkit-box-shadow: 0px 0px 12px rgba(68,68,68,0.6);
	box-shadow: 0px 0px 12px rgba(68,68,68,0.6);
}

.major img {
	padding:0 0 12px 0;
}

/* ~~~~~ general css for arrows ~~~~~ */

.leftArrow, .rightArrow, .arrowUp {
	width: 0; 
	height: 0;
	display: inline-block;

}

@media screen and (max-width: 1175px) {
	.wrapper {
		width:95%;
	}

	.header-wrapper {
		width:95%;
		padding:0 2.5%;
	}

	#index header #header-content {
		width:95%;
	}
}

@media screen and (max-width: 1025px) {
	.wrapper {
		width:98%;
	}

	.header-wrapper {
		width:100%;
		padding:0 0;
	}
}

@media screen and (max-width: 960px) {
	.wrapper {
		width:98%;
	}

	.header-wrapper {
		width:100%;
		padding:0 0;
	}
}